.load_wrapper {
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    min-width: 100vw;
    background-color: #2f363e;
}

.load_wrapper.fade-out {
    transform: translateY(-100%);
    transition: transform 1s ease-out;
  }

.loader {
    position: relative;
    width: 260px;
    height: 260px;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg) scale(1);
    }

    50% {
        transform: rotate(180deg) scale(1.2);
    }

    100% {
        transform: rotate(360deg) scale(1);
    }
}

.loader li {
    position: absolute;
    left: 0px;
    list-style: none;
    transform-origin: 0;
    transition: 0.5s;
    transition-delay: calc(0.1s * var(--i));
    transform: rotate(0deg) translateX(120px);
}

.loader li::before {
    content: '';
    position: absolute;
    width: 20px;
    height: 2px;
    border-radius: 2px;
    background: var(--clr);
    transform: rotate(calc(45deg * var(--i))) translate(0px, 25px);
}

/* 
.loader li::after {
    content: '';
    position: absolute;
    left: 50px;
    width: 20px;
    height: 2px;
    background: var(--clr);
    z-index: -1;
    transform: rotate(calc(0deg * var(--i))) translate(15px, 0px);
    transition: 0.5s;
    transition-delay: 0.5s;
} */