basePath: /
definitions:
  model.Base:
    properties:
      message:
        type: string
      status:
        type: string
    type: object
  model.LoginRequest:
    properties:
      password:
        maxLength: 18
        minLength: 3
        type: string
      username:
        maxLength: 10
        minLength: 4
        type: string
    type: object
  model.MemoCompleteRequest:
    properties:
      id:
        type: integer
    type: object
  model.MemoCreateRequest:
    properties:
      content:
        maxLength: 255
        minLength: 2
        type: string
    type: object
  model.MemoDeleteRequest:
    properties:
      id:
        type: integer
    type: object
  model.MemoItem:
    properties:
      completed:
        type: boolean
      content:
        type: string
      id:
        type: integer
    type: object
  model.MemoListResponse:
    properties:
      memoes:
        items:
          $ref: '#/definitions/model.MemoItem'
        type: array
      message:
        type: string
      status:
        type: string
    type: object
  model.VideoItem:
    properties:
      image:
        type: string
      intro:
        type: string
      name:
        type: string
      time:
        type: string
      title:
        type: string
    type: object
  model.VideoListResponse:
    properties:
      message:
        type: string
      status:
        type: string
      videoes:
        items:
          $ref: '#/definitions/model.VideoItem'
        type: array
    type: object
host: 127.0.0.1:9999
info:
  contact:
    email: support@swagger.io
    name: tiny beer
    url: http://www.swagger.io/support
  description: 用于个人文件管理
  license:
    name: Apache 2.0
    url: http://www.apache.org/licenses/LICENSE-2.0.html
  termsOfService: http://swagger.io/terms/
  title: 个人主页
  version: "1.0"
paths:
  /memo/complete:
    put:
      consumes:
      - application/json
      description: 使用access_token获取视频列表资源
      parameters:
      - description: 访问令牌
        in: header
        name: Authorization
        required: true
        type: string
      - description: 备忘录完成参数
        in: body
        name: '{object}'
        required: true
        schema:
          $ref: '#/definitions/model.MemoCompleteRequest'
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/model.Base'
      summary: 根据Id更新备忘录完成状态
      tags:
      - 备忘录相关接口
  /memo/create:
    post:
      consumes:
      - application/json
      description: 使用access_token获取视频列表资源
      parameters:
      - description: 访问令牌
        in: header
        name: Authorization
        required: true
        type: string
      - description: 备忘录创建参数
        in: body
        name: '{object}'
        required: true
        schema:
          $ref: '#/definitions/model.MemoCreateRequest'
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/model.Base'
      summary: 根据内容创建新的备忘录
      tags:
      - 备忘录相关接口
  /memo/delete:
    delete:
      consumes:
      - application/json
      description: 使用access_token获取视频列表资源
      parameters:
      - description: 访问令牌
        in: header
        name: Authorization
        required: true
        type: string
      - description: 备忘录删除参数
        in: body
        name: '{object}'
        required: true
        schema:
          $ref: '#/definitions/model.MemoDeleteRequest'
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/model.Base'
      summary: 根据Id删除备忘录
      tags:
      - 备忘录相关接口
  /memo/list:
    get:
      consumes:
      - application/json
      description: 使用access_token获取视频列表资源
      parameters:
      - description: 访问令牌
        in: header
        name: Authorization
        required: true
        type: string
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/model.MemoListResponse'
      summary: 获取备忘录列表资源
      tags:
      - 备忘录相关接口
  /user/auth:
    post:
      consumes:
      - application/json
      description: 使用access_token验证用户身份
      parameters:
      - description: 访问令牌
        in: header
        name: Authorization
        required: true
        type: string
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            type: string
      summary: 验证用户身份
      tags:
      - 用户相关接口
  /user/login:
    post:
      consumes:
      - application/json
      description: 完成用户登陆操作分发access_token和refresh_token
      parameters:
      - description: 登录参数
        in: body
        name: '{object}'
        required: true
        schema:
          $ref: '#/definitions/model.LoginRequest'
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/model.Base'
      summary: 用于用户登录
      tags:
      - 用户相关接口
  /user/refresh:
    post:
      consumes:
      - application/json
      description: 使用refresh_token更新访问令牌
      parameters:
      - description: refresh_token
        in: header
        name: Authorization
        required: true
        type: string
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            type: string
      summary: 更新访问令牌
      tags:
      - 用户相关接口
  /video:
    get:
      consumes:
      - application/json
      description: 使用access_token获取视频列表资源
      parameters:
      - description: 访问令牌
        in: header
        name: Authorization
        required: true
        type: string
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/model.VideoListResponse'
      summary: 获取视频列表资源
      tags:
      - 视频相关接口
swagger: "2.0"
